.container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}


.containerTwo h2{
    text-align: center;
    font-weight:300;
    font-family: 'Poppins', sans-serif;
}

.containerTwo p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}


.containerTwo label {
    font-family: 'Poppins', sans-serif;

}


.mySignUp{
    margin-top: 40px;
}


.mySignUp div input{
    font-size: 20px;
    color: grey;
    padding-left: 10px;
    width: 96%;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
}

.mySignUp div{
    margin: 30px;
}


.containerTwo div img{
    width: 200px;
    height: 70px;
}


.img-container{
    display: flex;
    justify-content: center;
}


img{
    align-self: center;
}


.bp p{
    text-align: center;
    color: rgb(137, 2, 62);
}


.bp a{
    color: rgb(137, 2, 62);
}



#btnSignUp{
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
}


.bp button{
    border-radius: 9px;
    background-color: rgb(137, 2, 62);
    font-family:'Poppins',sans-serif;
    color: white;
    font-weight: 900;
    margin: auto;
    padding-top: 10px;
    border: none;
    height: 45px;
    width: 280px;
}


.bp button:active{
    background-color: rgba(78, 1, 36, 0.911);
    color: white;
    cursor: grab;
    transition: 1s;
}







/* ||media queries|| */
@media screen and (max-width: 360px){
    .containerTwo div img {
        width: 160px;
        height: 70px;
    }
    

    .img-container {
        margin-top: -30px;
       /* width: -10 auto; */
    }


    .mySignUp div input {
        width: 100%;
    }


    #btnSignUp {
        width: 80%;
    }


}